@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    @apply bg-gray-900;
    @apply text-gray-100;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  
}
